@charset "UTF-8";

/* 게스트하우스 별점 css */

/* .star-input2>.input,
.star-input2>.input>label:hover,
.star-input2>.input>input:focus+label,
.star-input2>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('starRate.png')no-repeat;}


.star-input2{display:inline-block; white-space:nowrap;width:225px;height:40px;line-height:30px;}

.star-input2>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}

.star-input2>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
.star-input2>.input.focus{outline:1px dotted #ddd;}
.star-input2>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input2>.input>label:hover,
.star-input2>.input>input:focus+label,
.star-input2>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input2>.input>label:hover~label{background-image: none;}
.star-input2>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input2>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input2>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input2>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input2>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input2>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}
 */

/* 별점 css */

.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('starRate.png')no-repeat;}


.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}

.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}

.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}

/* 별점 css */

.mstar-input>.minput,
.mstar-input>.minput>label:hover,
.mstar-input>.minput>input:focus+label,
.mstar-input>.minput>input:checked+label{display: inline-block;vertical-align:middle;background:url('starRate.png')no-repeat;}


.mstar-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}

.mstar-input>.minput{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}

.mstar-input>.minput>input{position:absolute;width:1px;height:1px;opacity:0;}
.mstar-input>.minput.focus{outline:1px dotted #ddd;}
.mstar-input>.minput>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.mstar-input>.minput>label:hover,
.mstar-input>.minput>input:focus+label,
.mstar-input>.minput>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.mstar-input>.minput>label:hover~label{background-image: none;}
.mstar-input>.minput>label[for="mp1"]{width:30px;z-index:5;}
.mstar-input>.minput>label[for="mp2"]{width:60px;z-index:4;}
.mstar-input>.minput>label[for="mp3"]{width:90px;z-index:3;}
.mstar-input>.minput>label[for="mp4"]{width:120px;z-index:2;}
.mstar-input>.minput>label[for="mp5"]{width:150px;z-index:1;}
.mstar-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}


.star-output>.output,
.star-output>.output>input{display:inline-block;vertical-align:middle;background:url('starRate.png')no-repeat;}

.star-output{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}

.star-output>.output{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}

.star-output>.output>input{position:absolute;width:1px;height:1px;opacity:0;}

.star-output>.output img{width:50px;}

.star-output>.output>label[for="1"]{width:30px;z-index:5;}
.star-output>.output>label[for="2"]{width:60px;z-index:4;}
.star-output>.output>label[for="3"]{width:90px;z-index:3;}
.star-output>.output>label[for="4"]{width:120px;z-index:2;}
.star-output>.output>label[for="5"]{width:150px;z-index:1;}
