<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dao.AdminMapper">
<!-- 회원관리 -->
	<select id="memberCount" resultType="int">
		select count(*) from member
	</select>
	
	<select id="memberList" parameterType="java.util.Map" resultType="com.java.member.dto.MemberDto">
		<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM rnum, A.* FROM 
			(SELECT * FROM member ORDER BY memberCode DESC) A) 
			WHERE rnum>=#{startRow} and rnum<=#{endRow}
			]]>
	</select>
	
	<select id="memberReadSelect" parameterType="int" resultType="com.java.member.dto.MemberDto">
		SELECT * FROM member WHERE memberCode=#{memberCode}
	</select>
	
	<update id="memberUpdateOk" parameterType="com.java.member.dto.MemberDto">
		UPDATE member SET point=#{point}, memberLevel=#{memberLevel} WHERE memberCode=#{memberCode}
	</update>
	
<!-- 게스트하우스 관리 -->
	<select id="houseCount" resultType="int">
		select count(*) from house
	</select>
	
	<select id="houseList" parameterType="java.util.Map" resultType="com.java.host.dto.HostDto">
		<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM rnum, A.* FROM 
			(SELECT * FROM house ORDER BY houseRegDate DESC) A) 
			WHERE rnum>=#{startRow} and rnum<=#{endRow}
			]]>
	</select>

<!-- 체험 관리 -->
	<select id="experienceCount" resultType="int">
		select count(*) from experience
	</select>
	
	<select id="experienceList" parameterType="java.util.Map" resultType="com.java.experience.dto.ExperienceDto">
		<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM rnum, A.* FROM 
			(SELECT * FROM experience ORDER BY exRegDate DESC) A) 
			WHERE rnum>=#{startRow} and rnum<=#{endRow}
			]]>
	</select>
	
	<update id="experienceStateOk" parameterType="com.java.experience.dto.ExperienceDto" >
		update experience set exApproval='승인완료' where exCode=#{exCode}
	</update>
	<update id="experienceStateNo" parameterType="com.java.experience.dto.ExperienceDto" >
		update experience set exApproval='승인거절' where exCode=#{exCode}
	</update>

	
	<update id="guestHouseStateOk" parameterType="int">
		update house set APPROVALSTATUS='승인완료' where houseCode=#{houseCode}
	</update>
	
	<update id="guestHouseStateNo" parameterType="int">
		update house set APPROVALSTATUS='승인거절' where houseCode=#{houseCode}
	</update>
	
	<update id="memberLevelHost" parameterType="int">
		update member set MEMBERLEVEL='Host' where memberCode=#{memberCode}
	</update>

</mapper>