@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrap {
	width: 80rem;
	margin: 3rem auto;
}
.width {
	width: 43rem;
	margin: 0 auto;
}

label {
	font-size: 1.188rem;
	display: block !important;
	padding: 0.5rem;
	font-weight: bold;
}
.custom-control-label {
	padding: 0;	
	font-weight: normal;
}
input, select {
	padding: 0.3rem 0.6rem;
	border-radius: 0.313rem;
	border: 0.063rem solid #ddd;
	background-color: #ffffff;
}
li {
	margin-bottom: 0.625rem;
}
textarea {
	border: 0.063rem solid #ddd;
	padding: 0.3rem 0.6rem;
	border-radius: 0.313rem;
}

.profileDiv {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	height: 20rem;
	border: 0.063rem solid #ddd;
	border-radius: 10rem;
	cursor: pointer;
	background: url("user.png") no-repeat center 4rem;
	background-size: 16rem;
    margin-bottom: 2rem;
}
#profileView {
	width: 20rem;
}

#mainImgDiv {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	height: 15rem;
	border: 0.063rem solid #ddd;
	border-radius: 0.625rem;
	cursor: pointer;
	background: url("image.png") no-repeat center;
	background-size: 4rem;
}
.subImgDiv {
	overflow: hidden;
	/* display: flex;
	align-items: center;
	justify-content: center;
	width: 8.75rem;
	height: 21.875rem;
	border: 0.063rem solid #ddd;
	border-radius: 0.313rem;
	cursor: pointer; */
}
.subImgDiv a {
	overflow: hidden;
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;
	width: 12.75rem;
	height: 8.563rem;
	border: 0.063rem solid #ddd;
	border-radius: 0.313rem;
	cursor: pointer;
    margin: 0 1rem 1rem 0;
}
.subImgDiv a img {
	width: 12.75rem;
}
#mainImgView {
	width: 20rem;
}
input[type="file"] {
	position: absolute;
	left: -100%;
}
#zipCode {
	margin-bottom: 0.6rem;
}
input[type="number"] {
	width: 10rem;
}
input[type="checkBox"] {
	margin: 0 0.3rem 0.6rem;
}
input[type="submit"] {
	margin-top: 1.25rem;
	width: 5rem;
	height: 2.813rem;
	background-color: #008489;
	color: #ffffff;
	font-weight: bold;
	font-size: 1rem;
}
.textColor, .houseCheckBox {
	color: red;
}
.custom-control{
	width: 19rem !important;
	float: left;
}