@charset "UTF-8";

#wrap {
	width: 80rem;
	margin: 5rem auto 0 auto;
	overflow: hidden;
	position: relative;
}
.menuL {
	float: left;
	width: 30%;
	position: absolute;
	font-size: 1.2rem;
}
.menuL > ul {
	width: 18.75rem;
	list-style: none;
	border: 0.063rem solid #ddd;
	padding: 1.25rem;
	background-color: #fff;
}
.menuL > ul > li {
	padding: 0.625rem;
}
.menuR {
	float: right;
	width: 70%;
	min-height: 50rem;
}
.menuR h3{
	font-weight: bold;
}
.menuR > .menuExplain{
	margin-bottom: 3rem;
}

a {
	cursor: pointer;
	color: inherit !important;
}
.deleteBtn {
	color: rgb(0, 132, 137) !important;
}