@charset "UTF-8";
#wrap {
	overflow: visible !important;
}
.reviewBtn {
	font-size: 1rem;
	width: 9rem;
	background-color: #fff;
	border: none;
	padding-bottom: 1rem;
}

.reviewDiv {
	border-bottom: 0.063rem solid #ddd;
	padding: 0.625rem 1.875rem;
	overflow: hidden;
	margin-top: 1.25rem;
}
#houseBtn {
	border-bottom: 0.2rem solid #008489;
}


.reviewL > .reviewContent {
	margin: 0.938rem 0;
	width: 38rem;
}

.reviewR {
	margin-top: 3.125rem;
}

.moreViewDiv {
	border-bottom: 0.063rem solid #ddd;
}

.moreView {
	border: none;
	background-color: #fff;
	font-size: 1.188rem;
	font-weight: bold;
	color: #008489;
	margin: 1.25rem 0 1.25rem 1.875rem;
	
}

.infoDiv {
	border-bottom: 0.063rem solid #ddd;
	padding-bottom: 2rem;
}
.infoImg {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18.75rem;
	height: 18.75rem;
	border-radius: 10rem;
	border: 0.063rem solid #ddd;
}
.infoImg > img {
	width: 18.75rem;
}
.infoDiv > p {
	margin-top: 1.5rem;
	font-size: 2.5rem;
}
.houseList, .exList {
	border-bottom: 0.063rem solid #ddd;
	padding-bottom: 2rem;
	margin-top: 1rem;
}

.reviewWrap {
	margin: 2rem 0 8rem 0;
}

.houseRate {
	text-align: right;
	padding-right: 0.8rem;
}
.houseName {
	font-size: 1.2rem;
	width: 15.938rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.memberInfo {
	margin-top: 1.2rem;
	font-size: 1.2rem;
}
.menuR h3 {
	margin: 1.5rem 0;
}
.houseImg {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16.875rem;
	height: 10.813rem;
	overflow: hidden;
	border-radius: 0.313rem;
}

.houseImg > img {
	width: 16.875rem;
}

.reviewL {
	float: left;
}
.reviewL > span {
	display: inline-block;
	padding: 0.625rem 0.313rem;
}
.reviewL p {
	margin: 0 !important;
}

.reviewMemberImg {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 1.563rem;
	overflow: hidden;
	border: 0.063rem solid #ddd;
}

.reviewMemberImg > img {
	width: 3rem;
}

.reviewR {
	float: right;
}

.reviewHouseImg {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6.563rem;
	height: 4.063rem;
	overflow: hidden;
}
.reviewR > span {
	display: block;
	text-align: center;
	margin-top: 1rem;
	width: 8.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.reviewHouseImg > img{
	width: 6.563rem;
}



.houseList, .exList {
	width: 97%;
	margin: 0 auto;
	overflow: hidden;
}
.houseSlide {
	width: 18.625rem;
	height: 15.625rem;
	position: relative;
	
}
.houseDiv {
	position: absolute;
	float: left;
}
.slideBtn {
	width: 1.875rem;
	height: 2.5rem;
	border: none;
	position: absolute;
	top: 33%;
}
#btnL {
	background: url("../../images/leftBtn.png") no-repeat center;
	background-size: 1.875rem 2.5rem;
	left: -1.563rem;
}
#btnR {
	background: url("../../images/rightBtn.png") no-repeat center;
	background-size: 1.875rem 2.5rem;
	right: -1.563rem;
}
.house, .ex {
	position: relative;
}
.reviewBtnDiv {
	border-bottom: 1px solid #ddd;
}
.reviewSpan {
	margin: 3rem 0px 0px 2rem;
    font-size: 1.2rem;
    display: inline-block;
}