<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.GuestHouseMapper">

    <select id="guestHouseImgList" parameterType="java.util.Map" resultType="com.java.guesthouse.file.dto.FileDto">
        select *
        from filelist
        where houseCode = #{houseCode}
    </select>

    <select id="getMemberCode" parameterType="String" resultType="int">
        select id
        from member
        where email = #{email}
    </select>

    <select id="getPrice" resultType="int">
        select price
        from house
        where houseCode = #{houseCode}
    </select>

    <select id="getHostMemberCode" resultType="int">
        select membercode
        from house
        where houseCode = #{houseCode}
    </select>

    <select id="getHostInfo" resultType="com.java.guesthouse.host.service.dto.HostDto">
        select *
        from house
        where houseCode = #{houseCode}
    </select>

    <select id="getMemberPoint" resultType="int">
        select point
        from member
        where email = #{email}
    </select>

    <select id="getHost" resultType="com.java.guesthouse.member.service.dto.MemberDto">
        select id           as memberCode,
               name         as memberName,
               email,
               password,
               phone_number as phone,
               created_at   as regDate,
               point,
               member_level as memberLevel,
               image_name   as memberImgName,
               image_path   as memberImgPath,
               image_size   as memberImgSize,
               info         as memberInfo
        from member
        where id = #{hostCode}
    </select>

    <select id="getHouseName" resultType="String">
        select houseName
        from house
        where houseCode = #{houseCode}
    </select>

    <insert id="insertReserveInfo" parameterType="com.java.guesthouse.guestreserve.dto.GuestReserveDto">
        insert into RESERVATION(reserveCode, memberCode, houseCode, reserveDate, checkIn, checkOut, state, payment,
                                people)
        values (seq_reserveCode_num.nextval, #{memberCode}, #{houseCode}, #{reserveDate}, #{checkIn}, #{checkOut},
                #{state}, #{payment}, #{people})
    </insert>

    <select id="getReserveCode" parameterType="java.util.Map" resultType="int">
        select reserveCode
        from RESERVATION
        where houseCode = #{houseCode}
          and memberCode = #{memberCode}
          and checkIn = #{checkIn}
    </select>

    <update id="updatePoint" parameterType="java.util.Map">
        update member
        set point =#{memberPoint}
        where id = #{memberCode}
    </update>

    <insert id="insertRemain" parameterType="java.util.Map">
        insert into REMAIN(resDate, people, houseCode)
        values (#{resDate}, #{people}, #{houseCode})
    </insert>

    <select id="getRemain" parameterType="int" resultType="com.java.guesthouse.guestreserve.dto.RemainDto">
        select resDate, sum(people) as people
        from remain
        where houseCode = #{houseCode}
        group by resDate
    </select>

    <select id="getMemberInfo" resultType="com.java.guesthouse.member.service.dto.MemberDto">
        select id           as memberCode,
               name         as memberName,
               email,
               password,
               phone_number as phone,
               created_at   as regDate,
               point,
               member_level as memberLevel,
               image_name   as memberImgName,
               image_path   as memberImgPath,
               image_size   as memberImgSize,
               info         as memberInfo
        from member
        where email = #{email}
    </select>

    <insert id="insertMsg" parameterType="com.java.guesthouse.guestdelluna.service.dto.MsgDto">
        insert into message(msgCode, memberCode, msgContent, msgDate, msgCheck)
        values (seq_msgCode_num.nextval, #{memberCode}, #{msgContent}, #{msgDate}, #{msgCheck})
    </insert>

    <select id="findReservationByGuestHouseIdAndMemberId" parameterType="java.util.Map"
            resultType="com.java.guesthouse.guestreserve.dto.GuestReserveDto">
        select reserveCode
        from RESERVATION
        where HOUSECODE = #{houseCode}
          and memberCode = #{memberCode}
    </select>

    <select id="reviewChk" parameterType="int" resultType="int">
        select count(*)
        from REVIEW
        where reserveCode = #{reserveCode}
    </select>

    <delete id="reviewDelete" parameterType="int">
        delete
        from REVIEW
        where RESERVECODE = #{reserveCode}
    </delete>

</mapper>
