<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.MemberMapper">
    <insert id="insert" parameterType="com.java.guesthouse.member.service.dto.MemberDto">
  		<![CDATA[
        insert into member
        (id, name, email, password, phone_number, created_at, point, member_level, image_name, image_path,
         image_size, info)
        values (MEMBER_PK_SEQ.nextval,
                #{memberName},
                #{email},
                #{password},
                #{phone},
                #{regDate},
                #{point},
                #{memberLevel},
                #{memberImgName, jdbcType=VARCHAR},
                #{memberImgPath, jdbcType=VARCHAR},
                #{memberImgSize, jdbcType=VARCHAR},
                #{memberInfo, jdbcType=VARCHAR})
        ]]>
  	</insert>

    <select id="emailCheck" parameterType="String" resultType="String">
        select email
        from member
        where email = #{email}
    </select>

    <select id="login" parameterType="java.util.Map" resultType="String">
        SELECT member_level
        FROM member
        WHERE email = #{email}
          and password = #{password}
    </select>

    <select id="memberSel" parameterType="java.util.Map" resultType="com.java.guesthouse.member.service.dto.MemberDto">
        select id           as memberCode,
               name         as memberName,
               email,
               password,
               phone_number as phone,
               created_at   as regDate,
               point,
               member_level as memberLevel,
               image_name   as memberImgName,
               image_path   as memberImgPath,
               image_size   as memberImgSize,
               info         as memberInfo
        from member
        where email = #{email}
          and password = #{password}
    </select>

    <insert id="insertKakao" parameterType="com.java.guesthouse.member.service.dto.MemberDto">
        insert into member(id, email, image_path, name, member_level, created_at, point)
        values (MEMBER_PK_SEQ.nextval, #{email}, #{memberImgPath}, #{memberName}, 'A', sysdate, 0)
    </insert>

    <select id="kakaoEmailChk" parameterType="String" resultType="int">
        select count(*)
        from member
        where email = #{email}
    </select>

    <select id="getMemberCode" parameterType="String" resultType="int">
        select id
        from member
        where email = #{email}
    </select>
</mapper>
