@charset "UTF-8";

/* #probootstrap-navbar{
	position: 70%;
 	border: 3px dotted red; 
}
.container{
	 border: 1px dotted green; 
	width: 100%;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid grey;
	z-index: 999;
	}
.logCon{
	border: 1px dotted orange;
	width: 18.75rem;
	margin-left: 12.5rem;
	margin-top: 3.125rem;
}

.navbar-brand{
	border: 1px solid yellow;
	margin: 0rem auto;
}
.navbar-nav{
	
	width:59.375rem;
	 border: 3px solid blue;  
	margin-left:31.25rem;
	margin-bottom: 1.875rem;
	
}
.nav-item{
	list-style: none;
}

.nav-link{
	
	border: 1px solid red;
	margin-right: 2rem;
	float: right;
	
}
#probootstrap-menu{
	border: 3px solid red;
	
}
 */
 html{
 font-size: 16px;
 }
 
.nav-link{
	
	color: black;
	
}
.navbar{
	
	border-bottom: 0.063rem solid #ccc;
	height: 8.9rem;
}

.loginBox > .col > .form-control{
	width: 18rem; 
	margin-bottom: 1rem; 
	margin-top: 1rem; 
	
}


